Repository FreeOps-Tools/LogIQ, pull requests merged in 2023-10, with the labels that each got.

#35 Dev
  .gitignore
  src/Components/Header.jsx
  yarn.lock
Labels: scope: web

#37 feat: add footer with styling
  src/App.css
  src/App.jsx
  src/Components/Footer.jsx
Labels: ABLE-TO-MERGE, scope: web, ✅status: done, hacktoberfest, hacktoberfest-accepted

#40 Updated logo and added multiple requests feature
  index.html
  public/logiq.svg
  public/vite.svg
  src/App.jsx
  src/Components/Header.jsx
  yarn.lock
Labels: aspect: code, aspect: interface, scope: web, hacktoberfest, hacktoberfest-accepted
