Repository FreeOps-Tools/LogIQ, pull requests merged in 2023-04, with the labels that each got.

#15 Dev
  .github/workflows/pr-autoclose.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/main.jsx
  yarn.lock
Labels: aspect: code, aspect: interface, ABLE-TO-MERGE, scope: web, scope: tools/scripts

#16 Merge to triger main depolyment
  src/App.jsx
Labels: aspect: code, aspect: text, ABLE-TO-MERGE, scope: web

#17 feat: add response time
  src/App.jsx
Labels: enhancement, aspect: code, aspect: interface, ABLE-TO-MERGE, ⭐ goal: addition, scope: web

#26 Dev
  CONTRIBUTING.md
  src/App.jsx
Labels: enhancement, aspect: code, ABLE-TO-MERGE, scope: web, ✅status: done

#28 Dev
  .github/labeler.yml
  .github/workflows/release.yml
  docs/logiq.md
  releases.json
Labels: enhancement, aspect: code, aspect: text, ABLE-TO-MERGE, goal: improvement, scope: tools/scripts, feature, scope: docs

#29 Redesigned the homepage
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/Components/Header.jsx
  yarn.lock
Labels: enhancement, aspect: code, aspect: interface, ABLE-TO-MERGE, scope: web

#30 Update dev branch
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/Components/Header.jsx
  yarn.lock
Labels: scope: web
